<h1>SiempreFit</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-3000 animation-ease-in-out">
    <p-image src="../../assets/images/pesas.avif" alt="Image" width="100%">
    </p-image>
</div>
<p-divider></p-divider>
<h1>Entrena en casa</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-2000 animation-ease-in-out">
    <div class="grid">
        <div class="col descriptionLeft">
            <p>Son muchas las investigaciones e informes científicos que hablan de los beneficios de 
                hacer ejercicio, pero sólo la idea de comprar costosos equipos o pagar por un gimnasio 
                desalienta a un gran número de personas, eso sin mencionar lo difícil de encontrar el 
                tiempo dentro de nuestra agitada vida, tanto laboral como social.</p>
            <p>Dejando de lado las estadísticas que busca determinar exactamente cuánto ejercicio
                 se debe hacer, aquí te ofrecemos una serie de recomendaciones para que puedas 
                 comenzar a ponerte en forma sin gastar dinero y que puedes acomodar en cualquier 
                 momento en tu agenda.</p>
        </div>
        <div class="col">
            <p-image src="../../assets/images/hometraining.jpg" alt="Image" width="100%">
            </p-image>
        </div>
    </div>
</div>
<p-divider></p-divider>
<h1>Alimentacion saludable</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-2000 animation-ease-in-out">
    <div class="grid">
        <div class="col">
            <p-image src="../../assets/images/healfood.jpg" alt="Image" width="100%">
            </p-image>
        </div>
        <div class="col description">
            <p>Mantenerse saludable puede ser un desafío, pero hacer cambios simples en el estilo 
                de vida, como comer sano y estar activo físicamente, puede ayudar mucho. 
                Los estudios muestran que estos cambios pueden ayudarle a mantener un peso 
                saludable y bajar el riesgo de enfermedades crónicas.</p>
            <p>Estas recetas de comidas sabrosas y saludables le pueden ayudar a crear un plan de 
                alimentación sano, incluyendo una variedad de frutas y verduras, productos lácteos 
                sin grasa o bajos en grasa, varios alimentos con proteínas y aceites. También 
                significa limitar las grasas saturadas, las grasas trans, los azúcares agregados y 
                la sal. Pruebe estas recetas como parte de un estilo de vida sano.</p>
        </div>
    </div>
</div>
<p-divider></p-divider>
<h1>Videos motivacionales</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-2000 animation-ease-in-out">
    <div class="grid">
        <div class="col">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/uIQgpxO1U7c?si=an7VF-252yJ6iK9K"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/8vWgn-EVwxI?si=Lcpfun3Oopv6tWIj"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/TQOeEy03yq0?si=Z0c_OUNxrIsieATB"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
<p-divider></p-divider>
<footer>
    <div class="grid">
        <div class="col">
            <p>
                <i class="pi pi-whatsapp" style="color: rgb(0, 233, 8)">
                </i> +57 302 2055316            
            </p>
            <p>
                <i class="pi pi-envelope" style="color: rgb(228, 19, 33)">
                </i> siemprefit2001&#64;gmail.com
            </p>
            <p>Copyright &copy; SiempreFit, todos los derechos reservados.</p>
        </div>
    </div>
</footer>