<div class="menuBar grid">
  <div class="col">
    <p-button [link]="true">
      <strong>
        <a href="">Inicio</a>
      </strong>
    </p-button>
    <p-button [link]="true">
      <strong>
        <a href="home-training">Entrena en casa</a>
      </strong>
    </p-button>
    <p-button [link]="true">
      <strong>
        <a href="heal-food">Alimentacion saludable</a>
      </strong>
    </p-button>
    <p-button [link]="true">
      <strong>
        <a href="">Administrativo</a>
      </strong>
    </p-button>
    <p-button id="loginbtn" [link]="true">
      <strong>
        <a href="">Login</a>
      </strong>
    </p-button>
  </div>
</div>
<router-outlet />