h1{
    font-size: 350%;
    color: white;
    text-align: center;
}

.description {
    color: white;
    font-size: 160%;
}

.descriptionLeft{
    color: white;
    text-align: right;
    font-size: 160%;
}

@media only screen and (max-width: 1024px) {
    .grid {
      display: grid;
    }
    .descriptionLeft{
        text-align: left;
    }
}