<h1>Abdomen</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-3000 animation-ease-in-out">
    <div class="grid">
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2O1SAhAx7mI?si=Sll1e63wgNYCbd0K"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HD8TWGR4DN0?si=JJDqoAzCWtemnRE0" 
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
    </div>    
</div>
<p-divider></p-divider>
<h1>Pecho</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-3000 animation-ease-in-out">
    <div class="grid">
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Uh976n5NB_Q?si=JVeJxB3q4K85OnEK"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3IwHoFNQUo8?si=SW1ZQpNJWslSeLFc" 
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
    </div>    
</div>
<p-divider></p-divider>
<h1>Espalda</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-3000 animation-ease-in-out">
    <div class="grid">
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NyRSsVb9ydg?si=XuFkw-aB3DPET8WY"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col">
            
        </div>
    </div>    
</div>
<p-divider></p-divider>
<h1>Pierna</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-3000 animation-ease-in-out">
    <div class="grid">
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SasACgGscHg?si=kjO7w1vyujustqBo"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col">
            
        </div>
    </div>    
</div>
<p-divider></p-divider>
<h1>Gluteos</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-3000 animation-ease-in-out">
    <div class="grid">
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6EwCqjDcqd0?si=Y4p3rSaebS7IDHU4"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col">
            
        </div>
    </div>    
</div>
<p-divider></p-divider>
<h1>Pierna y gluteo</h1>
<div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box justify-content-center 
align-items-center border-round animation-duration-3000 animation-ease-in-out">
    <div class="grid">
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BBtFMrhHGDc?si=aLVuL2fhACbO21CU"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="col">
            
        </div>
    </div>    
</div>
<p-divider></p-divider>
