.btnDownload, .btnDownload a {
    color: white;
    text-decoration: none;
    text-align: right;
    margin-top: 1%;
}

:host ::ng-deep .p-tabview-title {
    color: white;
}

:host ::ng-deep .p-tabview .p-tabview-nav, :host ::ng-deep .p-tabview-panels,
:host ::ng-deep .p-tabview-nav-link {
    background-color: black;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: red;
}

h1, p {
    color: white;
}